.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: $background_color_footer;
    border-top: .05rem solid #e5e5e5;
    
    .container {
        background-color: $background_color_footer;
        
        a {
            color: $footer_links;
            text-decoration: none;
            
            &:hover{
                color: lighten($footer_links, 10%);
            }
        }
    }    
}

.blog-footer p:last-child {
    margin-bottom: 0;
}
