$title_color: #333;
$title_color2: #283433;
$text_color: #666;
$menu_color: #fffeff;

$background_color_main_container: #fffeff;
$background_color_body: #eeecee;
$background_color_menu: linear-gradient(to bottom, #7f083f 0%, #400420 100%);
$background_color_footer: #0e0e0e;

$read_more_button: #999;

$hover_color: #c0075c;

$search_box_background: #6e1e44;
$search_box_text: #fff;

$footer_links: #f25d3c;